.logo {
  position: relative;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: .125em;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    @include arrows;
  }

  @media screen and (max-width: $desktop - 1px) {
    font-size: vw($tablet, 2rem);
  }

  @media screen and (max-width: $tablet - 1px) {
    font-size: vw($mobile, 2rem);

    @media (orientation: landscape) {
      font-size: vw($mobile, 1.2rem);
    }
  }
}
