include ../helpers/mixins.pug
block variables

doctype html
html(lang='en')
  head
    link(href='https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400\&display=swap' rel='stylesheet') 
    link(src='assets/media/sprite.svg')
    link(rel='icon' href='assets/media/images/favicon.png' sizes='16x16' type='image/png')
    link(rel='icon' href='assets/media/images/favicon32.png' sizes='32x32' type='image/png')
    link(rel='apple-touch-icon' href='assets/media/images/apple-touch-icon.png' sizes='180x180' type='image/png')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{title}

  body
    block intro
    include /header
    block content
    include /footer
