// breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

// font
$primaryFont: 'Raleway', sans-serif;

// colors
$black: #1e1e1e;
$pitchBlack: #000;
$white: #fff;
$gray: #3b3b3b;
$lightGray: #ededed;

// background
$primaryBackground: $white;
$secondaryBackground: $black;
$tertiaryBackground:$lightGray;

// text
$primaryText: $black;
$secondaryText: $lightGray;
$tertiaryText: $gray;

// border
$primaryBorder: $white;
$secondaryBorder: $black;

// shadow
$primaryShadow: $pitchBlack;

// paths
$background-path: '../../assets/media/images/';
