section.intro
  .container.intro__container
    header.intro__header
      +logo('intro__logo')
      +menuBtn('intro')
    .intro__welcome
      h1.title.intro__title welcome to wheels
      p.intro__slogan  Your free psd template, perfect for your next big idea 
        span.intro__author #[br]by Pawel Betkowski
    .intro__scroll
    