section.social
  .container.social__container
    h2.title.social__title #social showcase
    p.subtitle.social__subtitle Show your customers why your Instagram account is the one they should follow 
    ul.social__list
      li.social__item
        a.social__link(href="#")
          img.social__pic(src='assets/media/images/social/image1.jpg', alt='instagram image1' loading='lazy')
      li.social__item
        a.social__link(href='#')
          img.social__pic(src='assets/media/images/social/image2.jpg', alt='instagram image2' loading='lazy')
      li.social__item
        a.social__link(href='#')
          img.social__pic(src='assets/media/images/social/image3.jpg', alt='instagram image3' loading='lazy')
      li.social__item
        a.social__link(href='#')
          img.social__pic(src='assets/media/images/social/image4.jpg', alt='instagram image4' loading='lazy')
    p.social__follow follow @#[a(href='#') wheels] on instagram
    

