section.statistic
  .container.statistic__container
    h2.title.statistic__title some statistics
    p.subtitle.statistic__subtitle Showing what your company already acomplished is always a good selling point.
    ul.statistic__list
      li.statistic__item
        div.statistic__counter 409
        p.statistic__desc bikes sold
      li.statistic__item
        div.statistic__counter 2012
        p.statistic__desc year the company started
      li.statistic__item
        div.statistic__counter 0
        p.statistic__desc unsatisfied customers