.intro {
  position: relative;
  z-index: 9;
  height: 100vh;
  color: $secondaryText;
  background: $secondaryBackground url($background-path+'intro-bg.jpg') center top no-repeat;
  background-size: cover;
  transition: transform .3s ease-in-out .3s;

  &__container {
    height: 100%;
    padding: 7.5rem 2rem 5.7rem;

    @media screen and (max-width: $desktop - 1px) {
      max-width: $desktop;
      padding: vw($tablet, 4rem) vw($tablet, 6rem);
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo,
  &__btn {
    line-height: 1;
    color: $secondaryText;
  }

  @media screen and (min-width: $tablet) {

    &__logo {
      animation: intro--left 1s;
    }
  }

  &__welcome {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
    max-width: 75%;
    margin: auto 0;
    text-align: right;

    @media screen and (max-width: $desktop - 1px) {
      justify-content: space-around;
      align-items: center;
      max-width: 100%;
      height: 50%;
      margin: auto;
      text-align: center;
    }
  }

  @media screen and (min-width: $tablet) {

    .menu-btn,
    &__welcome {
      animation: intro--right 1.5s;
    }
  }

  &__title,
  &__slogan {
    margin-bottom: .5rem;

    @media screen and (max-width: $desktop - 1px) {
      margin-bottom: vw($tablet, .5rem);
    }

    @media screen and (max-width: $tablet - 1px) {
      margin-bottom: vw($mobile, 1rem);
    }
  }

  &__title {
    margin-right: 0;
    font-size: 3.2rem;
    line-height: 1;
    letter-spacing: .118em;

    @media screen and (max-width: $desktop - 1px) {
      margin-right: auto;
      font-size: vw($tablet, 4.5rem);
    }

    @media screen and (max-width: $tablet - 1px) {
      font-size: vw($mobile, 2rem);

      @media (orientation: landscape) {
        font-size: vw($mobile, 1.2rem);
      }
    }
  }

  &__slogan {
    max-width: 55%;
    font-size: 1.6rem;
    line-height: 1.8;
    letter-spacing: .123em;

    @media screen and (max-width: $desktop - 1px) {
      max-width: 75%;
      font-size: vw($tablet, 2.2rem);
    }

    @media screen and (max-width: $tablet - 1px) {
      font-size: vw($mobile, 1.8rem);

      @media (orientation: landscape) {
        font-size: vw($mobile, 1.2rem);
      }
    }
  }

  &__author {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
    letter-spacing: .118em;

    @media screen and (max-width: $desktop - 1px) {
      font-size: inherit;
    }

    @media screen and (max-width: $tablet - 1px) {
      font-size: vw($mobile, 1.5rem);

      @media (orientation: landscape) {
        font-size: vw($mobile, 1rem);
      }
    }
  }

  &__scroll {
    position: relative;
    width: 3rem;
    min-height: 4.5rem;
    margin: 0 auto;
    border: .2rem solid $primaryBorder;
    border-radius: 40%;
    opacity: 0;

    @media screen
      and (min-width: $tablet)
      and (max-width: $desktop - 1px) {

      &,
      &::before {
        width: 0;
        height: 0;
        border: none;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid $primaryBackground;
        border-radius: 0;
      }
      animation: scroll 2.5s infinite;
    }

    @media screen and (max-width: $tablet - 1px) {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      right: 47%;
      width: .2rem;
      height: .7rem;
      background-color: $primaryBackground;
      transform: translateY(88%);
      animation: scroll 2.5s infinite;

      @media screen
        and (min-width: $tablet)
        and (max-width: $desktop - 1px) {
        background-color: transparent;
        animation: none;
        transform: translate(50%, 0);
      }
    }
  }

  &--disabled {
    position: relative;
    transform: scale(0, 1);
    transition: transform .3s ease-in-out;

    @media screen and (max-width: $tablet - 1px) {
      transform: none;
    }

    > * {
      display: none;
    }
  }
}
